{% extends "base.html" %}

{% block title %}Acerca de mí - Tienda Libre{% endblock %}

{% block content %}

<div class="text-center">

    <h1>Acerca de mí</h1>

    <p class="lead">
        Hola, soy Felipe Faule, estudiante de programación.
    </p>

    <p>
        Actualmente estoy aprendiendo desarrollo web con Django
        y desarrollando este ecommerce para Programación III.
    </p>

    <p>
        En este proyecto estoy trabajando con modelos, vistas,
        templates y bases de datos.
    </p>

</div>

{% endblock %}