<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de mí</title>
</head>

<body>

    <h1>Acerca de mí</h1>

    <p>
        Hola, soy Felipe Faule, estudiante de programación.
    </p>

    <p>
        Actualmente estoy aprendiendo desarrollo web con Django y creando
        un ecommerce como proyecto para Programación III.
    </p>

    <p>
        En este proyecto trabajé con modelos, vistas, templates y base de datos
        para crear una tienda funcional.
    </p>

    <a href="/">Volver al inicio</a>

</body>
</html>